html
  head
    title Tolmey Test
    script(src='pakmanaged.js', type='text/javascript')
  body
    h1 Tolmey Tester
    p
      | Enter a zoom level between 0 and 20, and hit the button to load the OpenStreetMap tile for your location.
    form#lat_long(name='lat_long')

      h2 Map Center
      label(for='map-lat') Latitude
      input(name='map-lat')
      br
      label(for='map-lon') Longitude
      input(name='map-lon')
      br
      button#get-coords Use Current Location
      br
      label(for='map-radius') Radius (in meters)
      input(name='map-radius', type='number', value='500')

      br
      br

      label(for='map-provider') Map Service
      br
      select#map-provider(name='map-provider')
        option(value='openstreetmap') OpenStreetMap.org
        option(value='google', selected='selected') Google Maps (KeyHole)
        option(value='bing') Bing Maps (Virtual Earth)
        option(value='yahoo') Yahoo Maps (Nokia OVI)
        option(value='user') Custom

      br
      textarea#map-provider-user
        | (function () {
        |   "use strict";
        |   
        |   function toTile(x, y, zoom) {
        |     // write your custom function here
        |   }
        |   
        |   return toTile;
        | }());

      br
      label(for='map-zoom') Map Scale (Zoom)
      br
      select#map-resolution(name='map-zoom')
        option(value='14') (14) 1 : 36K (9.6 m/px)
        option(value='15') (15) 1 : 18K (4.8 m/px)
        option(value='16') (16) 1 : 9,028 (2.4 m/px)
        option(value='17', selected='selected') (17) 1 : 4,514 (1.2 m/px)
        option(value='18') (18) 1 : 2,257 (60 cm/px)
        option(value='19') (19) 1 : 1,129 (30 cm/px)
        option(value='20') (20) 1 : 564 (15 cm/px)

      br
      br
      button#submit_button(type='submit') Display Map Tile

    h3 The center image should show up below
    img#map-result(src='foobar.png', name='map_result')

    h3 Other images
    ul#map-urls
      li.map-url http://{{server}}
